
@media screen and (max-width: 649px) {

    .box-menu {
        padding-top: 10px;
        margin-right: 10%;
        float: right;
    }

    .box-menu .btn-menu {
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        transition-duration: .5s;
    }

    .btn-menu input {
        width: 40px;
        height: 40px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .btn-menu input:checked ~ div:nth-child(3) {
        opacity: 0;
    }

    .btn-menu input:checked ~ div:nth-child(2) {
        transform: rotate(45deg) translate(5px, 9px);
    }

    .btn-menu input:checked ~ div:nth-child(4) {
        transform: rotate(-45deg) translate(5px, -9px);
    }

    .btn-menu div {
        width: 100%;
        height: 2px;
        background-color: #e9e9eb;
        transition-duration: .5s;
    }

    .box-menu .menu {
        position: absolute;
        top: 60px;
        right: 0;
        width: 70vw;
        transform: translateX(100%);
        height: 92vh;
        background-color: #42506b;
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        transition-duration: 1s;
    }

    .box-menu .menu button {
        border: none;
        background: none;
        color: #e9e9eb;
        padding: 2px 8px;
        font-size: 1rem;
        cursor: pointer;
        transition-duration: .5s;
        margin: 20px 0px;
    }
    
    .box-menu nav button:hover {
        color: #8e8e8e;
    }


    .box-content {
        width: 100%;
        max-width: 1400px;
        min-height: 150vh;
        margin: 0 auto;
        padding-top: 70px;
    }
    
    .box-1, .box-2,
    .box-3, .box-4 {
        width: 100%;
        min-height: 82vh;
    }
    
    .box-content section:nth-child(4) {
        background-color: #334054;
    }
    
    .box-wellcome,
    .text-wellcome,
    .img-wellcome {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .text-wellcome .sub-text-wellcome,
    .img-wellcome .sub-img-wellcome {
        width: 100%;
        min-height: 56vh;
    }

    .text-wellcome .sub-text-wellcome .text-anima,
    .img-wellcome .sub-img-wellcome .text-me {
        width: 95%;
        min-height: 82vh;
        margin: 0 auto;
    }
    
    .text-me button {
        background: none;
        border: none;
        position: absolute;
        transition-duration: .5s;
        margin-left: 80%;
        margin-top: 50px;
    }
    
    .text-me button:hover {
        transform: translateY(15px);
        cursor: pointer;
    }
    
    .text-me button img {
        height: 70px;
    }
    
    
    .text-me label {
        display: block;
        color: #bcbcbc;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .text-me label:nth-child(2) {
        font-size: 1.5rem;
        padding-bottom: 20px;
        padding-top: 200px;
    }
    
    .text-me label:nth-child(3) {
        font-size: 1rem;
        max-width: 700px;
        text-align: justify;
        padding: 10px;
        border: 1px solid #bcbcbc;
        border-radius: 3px;
    }
    
    .text-anima .bals-anima {
        position: absolute;
        width: 100%;
    }
    
    .bals-anima div {
        position: absolute;
        border-radius: 100%;
    }
    
    .bals-anima div:nth-child(1) {
        width: 130px;
        height: 130px;
        background-color: #bcbcbc;
        margin-left: 23%;
        margin-top: 150px;
        z-index: 3;
        animation: move-one 10s linear infinite;
    }
    
    @keyframes move-one {
        0%, 100% {
            transform: translateY(0px) translateX(0);
        }
        25% {
            transform: translateY(-30px);
        }
        50% {
            transform: translateX(-30px) translateY(-30px);
        }
        75% {
            transform: translateX(-30px) translateY(0px);
        }
    }
    
    .bals-anima div:nth-child(2) {
        width: 250px;
        height: 250px;
        background-color: #657b9b;
        margin-left: 30%;
        margin-top: 160px;
        animation: move-two 15s linear infinite;
    }
    
    @keyframes move-two {
        0%, 100% {
            transform: translateY(20px);
        }
        25% {
            
            transform: translateX(-20px);
        }
        50% {
            transform: translateY(-20px);
        }
        75% {
            transform: translateX(20px);
        }
    }
    
    .bals-anima div:nth-child(3) {
        width: 150px;
        height: 150px;
        background-color: #8597b5;
        margin-left: 15%;
        margin-top: 230px;
        animation: move-three 8s linear infinite;
        z-index: 2;
    }
    
    @keyframes move-three {
        0%, 100% {
            transform: translateY(-20px);
        }
        25% {
            
            transform: translateX(20px);
        }
        50% {
            transform: translateY(20px);
        }
        75% {
            transform: translateX(-20px);
        }
    }
    
    .text-anima label {
        font-family: Arial, Helvetica, sans-serif;
        color: #42506b;
        display: block;
        position: absolute;
        z-index: 3;
        margin-left: 20%;
    }
    
    .text-anima label:nth-child(2) {
        font-size: 1.5rem;
        margin-top: 220px;
    }
    
    .text-anima label:nth-child(3) {
        font-size: 1.8rem;
        margin-top: 250px;
    }
    
    .text-anima label:nth-child(4) {
        font-size: 1.5rem;
        margin-top: 295px;
    }
    
    
    .box-4 .text-projetos {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 30px 30px;
    }
    
    .box-4 .text-projetos label {
        max-width: 70%;
        text-align: justify;
        font-family: Arial;
        font-size: 1.4rem;
        color: #ccc;
    }
    
    .box-4 .list-projetos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 40px;
    }
    
    .box-4 .list-projetos section {
        width: 100%;
        max-width: 300px;
        height: 200px;
        background-color: #42506b;
        transition-duration: .5s;
        border-radius: 3px;
        margin: 20px;
    }
    
    .box-4 .list-projetos section:hover {
        animation: rota 1s linear infinite;
        cursor: pointer;
        transition-duration: .5s;
    }
    
    @keyframes rota {
        0%, 100% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
    }
    
    .list-projetos section:hover > div {
        transform: translateY(-10px);
    }
    
    .list-projetos section div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        cursor: pointer;
    }
    
    .list-projetos section div img {
        width: 90px;
        height: 90px;
        margin: 15px;
    }
    
    .list-projetos section div label {
        cursor: pointer;
    }
    
    .title-project {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: Bold;
        color: #e9e9eb;
    }
    
    .sub-title-project {
        font-family: Arial, Helvetica, sans-serif;
        color: #e9e9eb;
        margin-top: 5px;
    }
    
    
    
    
    
    
    
    
    
    
    .footer {
        width: 100%;
        height: 130px;
        background-color: #42506b;
        margin-top: 10px;
    }
    
    .footer-left, .footer-right {
        font-family: Arial, Helvetica, sans-serif;
        color: #8e8e8e;
        padding: 20px 0px;
        text-align: center;
    }
    
}