* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: #05bbe5;
    border-radius: 3px;
}

.container {
    width: 100%;
    min-height: 100vh;
}

@media  screen and (max-width: 736px) {

    .container .left {
        width: 100%;
        height: 50vh;
        margin:0;
        padding: 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        background: #2980b9 url('../images/capa.png') repeat 0 0;
        -webkit-animation: 100s linear 0s normal none infinite animate;
        -moz-animation: 100s linear 0s normal none infinite animate;
        -ms-animation: 100s linear 0s normal none infinite animate;
        -o-animation: 100s linear 0s normal none infinite animate;
        animation: 100s linear 0s normal none infinite animate;
    }


    .left .box-img {
        width: 100%;
        max-width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 10px;
        padding: 5px;
    }
    
    .left .box-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    .left .box-info {
        width: 100%;
        max-width: 450px;
        height: 250px;
        text-align: center;
        font-size: 1.2rem;
        color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .left .box-info .redes {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .left .box-info .redes .redes-info {
        display: flex;
        justify-content: center;
    }
    
    .left .box-info .redes .redes-info div {
        width: 20px;
        height: 20px;
        opacity: 0.7;
        cursor: pointer;
        margin: 10px 5px;
        background-size: 20px;
        transition-duration: .5s;
    }

    .right {
        width: 90%;
        min-height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        float: right;
    }
    
    .right label {
        font-size: 1.8rem;
        color: #8e8e8e;
    }
    
    .right label:nth-child(1) {
        margin-top: 150px;
    }
    
    .right label:nth-child(2) {
        margin-top: 20px;
        font-size: 1.2rem !important;
        font-style: italic;
    }
    
    .right .redes-right {
        width: 90%;
        height: 25px;
        margin-top: 30px;
        display: flex;
        justify-content: end;
    }
    
    .right .redes-right div {
        width: 25px;
        height: 25px;
        margin: 0px 10px;
        cursor: pointer;
        transition-duration: .5s;
    }

    .text-projetos {
        font-size: 1.2rem !important;
        margin: 30px 0px;
    }

    .projetos {
        width: 90%;
        min-height: 50vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .projetos .proj {
        width: 100%;
        min-width: 200px;
        min-height: 300px;
        margin: 20px 0px;
        transition-duration: .5s;
        border-radius: 3px;
        cursor: pointer;
    }

    .projetos .proj:hover {
        transform: translateY(-10px);
        background-color: #fafafa;
    }

    .projetos .proj .img-proj {
        width: 100%;
        height: 200px;
        background-color: #ccc;
        border-radius: 3px;
    }

    .proj label {
        padding: 10px;
        display: block;
    }

    .proj label:nth-child(2) {
        font-size: 1.2rem;
        font-style: unset;
    }

    .proj label:nth-child(3) {
        font-size: 1rem;
        text-align: justify;
    }
}

@media screen and (min-width: 736px) and (max-width: 999px) {

    .container .left {
        width: 100%;
        height: 50vh;
        margin:0;
        padding: 0px 60px 0px 0px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        background: #2980b9 url('../images/capa.png') repeat 0 0;
        -webkit-animation: 100s linear 0s normal none infinite animate;
        -moz-animation: 100s linear 0s normal none infinite animate;
        -ms-animation: 100s linear 0s normal none infinite animate;
        -o-animation: 100s linear 0s normal none infinite animate;
        animation: 100s linear 0s normal none infinite animate;
    }


    .left .box-img {
        width: 100%;
        max-width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 10px;
        padding: 5px;
    }
    
    .left .box-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    .left .box-info {
        width: 100%;
        max-width: 450px;
        height: 250px;
        text-align: center;
        font-size: 1.2rem;
        color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .left .box-info .redes {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .left .box-info .redes .redes-info {
        display: flex;
        justify-content: center;
    }
    
    .left .box-info .redes .redes-info div {
        width: 20px;
        height: 20px;
        opacity: 0.7;
        cursor: pointer;
        margin: 10px 5px;
        background-size: 20px;
        transition-duration: .5s;
    }

    .right {
        width: 90%;
        min-height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        float: right;
    }
    
    .right label {
        font-size: 1.8rem;
        color: #8e8e8e;
    }
    
    .right label:nth-child(1) {
        margin-top: 150px;
    }
    
    .right label:nth-child(2) {
        margin-top: 20px;
        font-size: 1.2rem !important;
        font-style: italic;
    }
    
    .right .redes-right {
        width: 90%;
        height: 25px;
        margin-top: 30px;
        display: flex;
        justify-content: end;
    }
    
    .right .redes-right div {
        width: 25px;
        height: 25px;
        margin: 0px 10px;
        cursor: pointer;
        transition-duration: .5s;
    }

    .text-projetos {
        font-size: 1.2rem !important;
        margin: 30px 0px;
    }

    .projetos {
        width: 90%;
        min-height: 50vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .projetos .proj {
        width: 45%;
        min-width: 200px;
        min-height: 300px;
        margin: 20px 0px;
        transition-duration: .5s;
        border-radius: 3px;
        cursor: pointer;
    }

    .projetos .proj:hover {
        transform: translateY(-10px);
        background-color: #fafafa;
    }

    .projetos .proj .img-proj {
        width: 100%;
        height: 200px;
        background-color: #ccc;
        border-radius: 3px;
    }

    .proj label {
        padding: 10px;
        display: block;
    }

    .proj label:nth-child(2) {
        font-size: 1.2rem;
        font-style: unset;
    }

    .proj label:nth-child(3) {
        font-size: 1rem;
        text-align: justify;
    }
    
}

@media screen and (min-width: 1000px) {

    .container .left {
        width: 35%;
        height: 100vh;
        margin:0;
        padding: 0px 60px 0px 0px;
    
        position: fixed;
        
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
    
        background: #2980b9 url('../images/capa.png') repeat 0 0;
        -webkit-animation: 100s linear 0s normal none infinite animate;
        -moz-animation: 100s linear 0s normal none infinite animate;
        -ms-animation: 100s linear 0s normal none infinite animate;
        -o-animation: 100s linear 0s normal none infinite animate;
        animation: 100s linear 0s normal none infinite animate;
    }


    .left .box-img {
        width: 100%;
        max-width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0px 0px 80px 0px;
        padding: 5px;
    }
    
    .left .box-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    .left .box-info {
        width: 100%;
        max-width: 450px;
        height: 250px;
        text-align: right;
        font-size: 1.2rem;
        color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .left .box-info .redes {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .left .box-info .redes .redes-info {
        display: flex;
        justify-content: end;
    }
    
    .left .box-info .redes .redes-info div {
        width: 20px;
        height: 20px;
        opacity: 0.7;
        cursor: pointer;
        margin: 10px 5px;
        background-size: 20px;
        transition-duration: .5s;
    }

    .right {
        width: 65%;
        min-height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 50px 50px;
        float: right;
    }
    
    .right label {
        font-size: 1.8rem;
        color: #8e8e8e;
    }
    
    .right label:nth-child(1) {
        margin-top: 150px;
    }
    
    .right label:nth-child(2) {
        margin-top: 20px;
        font-size: 1.2rem !important;
        font-style: italic;
    }
    
    .right .redes-right {
        width: 90%;
        height: 25px;
        margin-top: 30px;
        display: flex;
        justify-content: end;
    }
    
    .right .redes-right div {
        width: 25px;
        height: 25px;
        margin: 0px 10px;
        cursor: pointer;
        transition-duration: .5s;
    }
    
    .text-projetos {
        font-size: 1.2rem !important;
        margin: 30px 0px;
    }
    
    .projetos {
        width: 90%;
        min-height: 50vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .projetos .proj {
        width: 45%;
        min-width: 200px;
        min-height: 300px;
        margin: 20px 0px;
        transition-duration: .5s;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .projetos .proj:hover {
        transform: translateY(-10px);
        background-color: #fafafa;
    }
    
    .projetos .proj .img-proj {
        width: 100%;
        height: 200px;
        background-color: #ccc;
        border-radius: 3px;
    }
    
    .proj label {
        padding: 10px;
        display: block;
    }
    
    .proj label:nth-child(2) {
        font-size: 1.2rem;
        font-style: unset;
    }
    
    .proj label:nth-child(3) {
        font-size: 1rem;
        text-align: justify;
    }
    
}


    
.right .redes-right div:nth-child(1) {
    background-image: url('../icons/linkedin-gray.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(1):hover {
    background-image: url('../icons/linkedin-blue.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(2) {
    background-image: url('../icons/github-gray.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(2):hover {
    background-image: url('../icons/github-blue.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(3) {
    background-image: url('../icons/email-gray.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(3):hover {
    background-image: url('../icons/email-blue.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(4) {
    background-image: url('../icons/whats-gray.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(4):hover {
    background-image: url('../icons/whats-blue.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(5) {
    background-image: url('../icons/pdf-gray.png');
    background-size: 25px;
}

.right .redes-right div:nth-child(5):hover {
    background-image: url('../icons/pdf-blue.png');
    background-size: 25px;
}

.right label:nth-child(4), .right label:nth-child(6), .right label:nth-child(9) {
    font-size: 1.2rem;
    margin: 30px 0px;
}

.right label:nth-child(5), .right label:nth-child(7), 
.right label:nth-child(8), .right label:nth-child(10), 
.right label:nth-child(11), .right label:nth-child(12),
.right label:nth-child(13) {
    font-size: 1rem;
    max-width: 90%;
    text-align: justify;
    line-height: 30px;
}

.line {
    width: 90%;
    height: 1px;
    background-color: #8e8e8e;
    margin: 30px 0px;
}
    
@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}
    
@-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}
    
@-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}
    
@-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}
    
@keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

.left .box-info .redes .redes-info div:nth-child(1) {
    background-image: url('../icons/linkedin-white.png');
}

.left .box-info .redes .redes-info div:nth-child(1):hover {
    background-image: url('../icons/linkedin-blue.png');
}

.left .box-info .redes .redes-info div:nth-child(2) {
    background-image: url('../icons/github-white.png');
}

.left .box-info .redes .redes-info div:nth-child(2):hover {
    background-image: url('../icons/github-blue.png');
}

.left .box-info .redes .redes-info div:nth-child(3) {
    background-image: url('../icons/email-white.png');
}

.left .box-info .redes .redes-info div:nth-child(3):hover {
    background-image: url('../icons/email-blue.png');
}

.left .box-info .redes .redes-info div:nth-child(4) {
    background-image: url('../icons/whats-white.png');
}

.left .box-info .redes .redes-info div:nth-child(4):hover {
    background-image: url('../icons/whats-blue.png');
}

.left .box-info .redes .redes-info div:nth-child(5) {
    background-image: url('../icons/pdf-white.png');
}

.left .box-info .redes .redes-info div:nth-child(5):hover {
    background-image: url('../icons/pdf-blue.png');
}

.left .box-info .redes label {
    font-size: .9rem;
    margin: 5px 8px;
    opacity: 0.7;
}
















